<ion-content>
    <div class="box">
        <div class="img-box">
            <img class="img" src="assets/user.png" alt="">
        </div>
        <ion-list>
            <ion-item>
                <ion-label>username</ion-label>
                <ion-input [(ngModel)]="username"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>password</ion-label>
                <ion-input [(ngModel)]="password"></ion-input>
            </ion-item>
        </ion-list>
        <div class="button">
            <ion-button (click)="Login()">เข้าสู่ระบบ</ion-button>
            <ion-button (click)="Clear()" color="danger">ล้าง</ion-button>
            <ion-button (click)="Register()" color="success">ลงทะเบียน</ion-button>
        </div>
    </div>
</ion-content>