<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>โปรไฟล์</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="img-box">
        <img class="img" src="assets/chang.jpg">
    </div>
    <ion-list>
        <ion-item>
            <ion-label>ชื่อ-นามสกุล</ion-label>
            <ion-label slot="end">{{ auth.customer_name }} {{ auth.customer_lname }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>ชื่อผู้ใช้งาน</ion-label>
            <ion-label slot="end">{{ auth.username }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>รหัสผ่าน</ion-label>
            <ion-label slot="end">{{ auth.password }}</ion-label>
        </ion-item>
    </ion-list>
    <div class="button">
        <ion-button expand="block" size="large" (click)="Logout()" color="danger">ออกจากระบบ</ion-button>
    </div>
</ion-content>