.content {
    padding: 10px;
}

.welcome {
    font-size: 24px;
    margin-bottom: 20px;
}

.fullname {
    padding-left: 50px;
    margin-bottom: 20px;
}

.menu {
    margin-top: 30px;
    padding: auto;
}

.menu-item {
    display: block;
    background-color: blue;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
}

.icon {
    font-size: 50px;
}

.menu-name {
    // color: red;
    // font-weight: bold;
    // font-size: 20px;
}

.button {
    padding-left: 10px;
    padding-right: 10px;
}

.kai {
    margin-top: 200px;
}

ion-content {
    --background: #fff;
}